<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Nome da Receita</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Gerenciar receitas <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Lista de compras</a></li>
        <li><a href="#">Editar</a></li>
        <li><a href="#">Deletar</a></li>
      </ul>
    </div> <!-- /btn-group -->
  </div> <!-- /row -->
</div> <!-- /col-xs-12 -->

<div class="row">
  <div class="col-xs-12">
    Descrição
  </div>
</div>
