<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Gerenciar receitas <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Lista de compras</a></li>
        <li><a href="#">Editar</a></li>
        <li><a href="#">Deletar</a></li>
      </ul>
    </div> <!-- /btn-group -->
  </div> <!-- /row -->
</div> <!-- /col-xs-12 -->

<div class="row">
  <div class="col-xs-12">
    {{ recipe.desc }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredientes:
  </div>
</div>
